.ggskin img {
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.ggskin {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}